.wrapper {
  display: flex;
}

.sidebar {
  padding: 1rem;
  background-color: black;
  height: 100vh;
  color: white;
  flex-basis: 33%;
  max-width: 300px;
}

.first_flex {
  display: flex;
  gap: 2rem;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.single_category {
  background-color: rgb(54, 141, 248);
  color: rgb(255, 255, 255);
  padding: 12px 1rem;
  border-radius: 2rem;
}

.items {
  width: 100%;
}
.products {
  display: flex;
  gap: 1rem;
  width: 100%;
  /* flex-wrap: wrap; */
}

.product {
  width: 33%;
  max-width: 300px;
}

.image_container {
  position: relative;
  width: 100%;
  aspect-ratio: 4/3;
}

.icons {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.582);
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
}

.delete {
  font-size: 1.9rem;
  color: rgb(255, 75, 75);
  cursor: pointer;
}

.edit {
  font-size: 1.9rem;
  color: rgb(2, 250, 35);
  cursor: pointer;
}

.image_container .img {
  object-fit: cover;
}

.infos {
  padding: 1rem;
}

.infos p,
.infos h3 {
  margin: 0;
}
